<!DOCTYPE html>

<html>
  <head>
    <link rel="import" href="thumbphone.html">
    <link rel="import" href="details.html">
    </head>
  <body>
    <element name="app-catalog" constructor="AppCatalog" extends="div">

      <template>

        <template instantiate='if model.isLista'>
            <div class="span2">
             Search: <input type="text" bind-value="model.query">
             <div>
                <!--<template instantiate='if model.noMatches'><span>No matches :(</span></template>
                <template instantiate='if !model.noMatches'><span>Top results:</span></template>-->
             </div>
            </div>
            <div class="span10">

                <ul class="phones">
                    <template iterate='phone in model.filteredPhones'>
                      <li class="thumbnail">
                        <thumb-phone phone="{{phone}}"></thumb-phone>
                      </li>
                    </template>
                 </ul>

             </div>
        </template>
        <template instantiate='if model.isDetails'>
          <details></details>
        </template>

      </template>

      <script type="application/dart" src="../sources/appcatalog.dart">

        </script>
    </element>
  </body>
</html>
