<!DOCTYPE html>

<html>
  <body>
    <element name="details" constructor="DetailsComponent" extends="div">
      <template>
        <p><a href="#">BACK</a></p>
        <template if=" model.loaded">
          <img src="{{model.currentImage}}" class="phone">
          <h1>{{model.phone.name}}</h1>

          <p>{{model.phone.description}}</p>

          <ul class="phone-thumbs">
            <template iterate="img in model.phone.images">
            <li>
              <img src="{{img}}" on-click="changeImage(model.phone.images.indexOf(img))">
            </li>
            </template>
          </ul>

          <ul class="specs">
            <li>
              <span>Availability and Networks</span>
              <dl>
                <dt>Availability</dt>
                <template iterate="availability in model.phone.availability">
                  <dd>{{availability}}</dd>
                  </template>
              </dl>
            </li>
            <li>
              <span>Battery</span>
              <dl>
                <dt>Type</dt>
                <dd>{{model.phone.battery.type}}</dd>
                <dt>Talk Time</dt>
                <dd>{{model.phone.battery.talkTime}}</dd>
                <dt>Standby time (max)</dt>
                <dd>{{model.phone.battery.standbyTime}}</dd>
              </dl>
            </li>
            <li>
              <span>Storage and Memory</span>
              <dl>
                <dt>RAM</dt>
                <dd>{{model.phone.storage.ram}}</dd>
                <dt>Internal Storage</dt>
                <dd>{{model.phone.storage.flash}}</dd>
              </dl>
            </li>
            <li>
              <span>Connectivity</span>
              <dl>
                <dt>Network Support</dt>
                <dd>{{model.phone.connectivity.cell}}</dd>
                <dt>WiFi</dt>
                <dd>{{model.phone.connectivity.wifi}}</dd>
                <dt>Bluetooth</dt>
                <dd>{{model.phone.connectivity.bluetooth}}</dd>
                <dt>Infrared</dt>
                <dd>{{model.phone.connectivity.infrared}}</dd>
                <dt>GPS</dt>
                <dd>{{model.phone.connectivity.gps}}</dd>
              </dl>
            </li>
            <li>
              <span>Android</span>
              <dl>
                <dt>OS Version</dt>
                <dd>{{model.phone.android.os}}</dd>
                <dt>UI</dt>
                <dd>{{model.phone.android.ui}}</dd>
              </dl>
            </li>
            <li>
              <span>Size and Weigth</span>
              <dl>
                <dt>Dimensions</dt>
                <template iterate="dim in model.phone.sizeAndWeight.dimensions">
                  <dd >{{dim}}</dd>
                  </template>

                <dt>Weight</dt>
                <dd>{{model.phone.sizeAndWeight.weight}}</dd>
              </dl>
            </li>
            <li>
              <span>Display</span>
              <dl>
                <dt>Screen size</dt>
                <dd>{{model.phone.display.screenSize}}</dd>
                <dt>Screen resolution</dt>
                <dd>{{model.phone.display.screenResolution}}</dd>
                <dt>Touch screen</dt>
                <dd>{{model.phone.display.touchScreen}}</dd>
              </dl>
            </li>
            <li>
              <span>Hardware</span>
              <dl>
                <dt>CPU</dt>
                <dd>{{model.phone.hardware.cpu}}</dd>
                <dt>USB</dt>
                <dd>{{model.phone.hardware.usb}}</dd>
                <dt>Audio / headphone jack</dt>
                <dd>{{model.phone.hardware.audioJack}}</dd>
                <dt>FM Radio</dt>
                <dd>{{model.phone.hardware.fmRadio}}</dd>
                <dt>Accelerometer</dt>
                <dd>{{model.phone.hardware.accelerometer}}</dd>
              </dl>
            </li>
            <li>
              <span>Camera</span>
              <dl>
                <dt>Primary</dt>
                <dd>{{model.phone.camera.primary}}</dd>
                <dt>Features</dt>
                <dd>{{model.phone.camera.features.join(', ')}}</dd>
              </dl>
            </li>
            <li>
              <span>Additional Features</span>
              <dd>{{model.phone.additionalFeatures}}</dd>
            </li>
          </ul>
          </template>
      </template>
      <script type="application/dart" src="../sources/views/details.dart"></script>
    </element>
  </body>
</html>