<!DOCTYPE html>

<html>
  <body>
    <element name="thumb-phone" constructor="ThumbPhoneComponent" extends="div">
      <template>

           <!-- <a href="#/phones/{{phone.id}}" class="thumb"><img src="{{phone.imageUrl}}"></a>-->
            <div class="thumb h-entry">
              <img src="{{phone.imageUrl}}" style="position:absolute;z-index:0;width:100px;height:100px;"><a href="#/phones/{{phone.id}}" style="position:absolute;z-index:1;;width:100px;height:100px;"></a>
            </div>
            <a href="#/phones/{{phone.id}}" class="p-name">{{phone.name}}</a>
            <p class="p-summary">{{phone.snippet}}</p>
      </template>
        <script type="application/dart" src="../sources/views/thumbphone.dart">
        </script>
    </element>
  </body>
</html>
